<p id="notice"><%= notice %></p>




    <%=t ("Contacts")%>


<section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <section class="hero is-dark">
          <div class="hero-body">
            <div class="container">
              <p class="title">
                <%=t ("Contacts")%>
              </p>
            </div>
          </div>
        </section>


      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <table class="table is-narrow is-fullwidth is-hoverable">
        <thead>
        <tr>
          <th><%= t("contact.name")%></th>
          <th><%= t ("contact.email")%></th>
          <th><%= t ("contact.kind")%></th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.kind.description %></td>
            <td><%= link_to t("link.show"), contact %></td>
            <td><%= link_to t("link.edit"), edit_contact_path(contact) %></td>
            <td><%= link_to t("link.destroy"), contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'New Contact', new_contact_path, class: "button is-rounded is-medium is-fullwidth is-danger" %>
      <br/>
      <%= paginate @contacts %>

    </div>

  </div>
</section>