<p id="notice"><%= notice %></p>

<p>
  <strong><%= t ("contact.name")%>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t ("contact.email") %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%= t ("contact.tipo") %>:</strong>
  <%= @contact.kind.description %>
</p>

<p>
  <strong><%= t ("contact.observacao") %>:</strong>
  <%= @contact.rmk %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
